<div id="mainContainer">
    <div id="jumbotronDiv" class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Process Scheduling Algorithms</h1>
      <p class="lead">
        This is a interactive visualization tool that animates the different types of scheduling algorithms used by
        a Process Scheduler in order to schedule different processes to be assigned to the CPU.
      </p>
      <hr class="my-4">
      <p>These animated algorithms are either preemptive or non-preemptive.</p>
    </div>
  </div> 