<!doctype html>
<html>
	<head>
		<title>Round Robin</title>
	</head>

	<body>
		<h1>Round Robin Processing</h1>
		<div class = "process_column">
			<div class = "pro process1"></div>
			<div class = "pro process2"></div>
			<div class = "pro process3"></div>
			<button id = "start">Click here</button>

		</div>

		<div class = "CPU_column">
			<div class = "CPU">CPU</div>
			<div class = "time" style = "opacity: 0">-2ms</div>
			<h3>Total waiting time: <span> </span></h3>
		</div>

		<div class = "queue_column">
			<div class = "queue">Queue</div>
			<div class = "ready">Ready</div>
			<div class = "running">Running</div>
			<div class = "waiting">Waiting</div>
			<div class = "terminated">Terminated</div>
		</div>
	</body>	
</html>	