<div id="mainContainer">
    <div id="anim">
        <div id="primaryProcessor" class="processor-sjf">
            <div id="tag">
                PROCESSOR
            </div>
            <div id="slot">
            </div>
        </div>
        <!-- <div id="p1" class="process">P1</div>
            <div id="p2" class="process">P2</div>
            <div id="p3" class="process">P3</div> -->
    </div>

    <script>
        //custom sleep function
        // const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));


        loadProcesses();
        
        function loadProcesses() {
            var numberOfProcesses = 5;

            var duration = 6;

            var delay = 2;
            
            var i;
            var num;

            var topVal = 10;
            var topDif = 15;
            var topFinal = 0;

            for(i = 0; i < numberOfProcesses; i++) {

                num = i + 1;


                //adding process
                var html = "<div id=\"p" + num + "\" class=\"process-sjf\">P" + num + "</div>";
                $("#anim").append(html);


                //fetching and styling process
                var process = document.getElementById("p" + num);

                //adding top
                topFinal = topVal + (topDif * i);
                process.style.top = topFinal +"%";

            }

            animateProcesses(numberOfProcesses, delay, duration);

        }

        function animateProcesses(numberOfProcesses, delay, duration) {
            var i;
            var num;

            var nextDelay = 0;
            for(i = 0; i < numberOfProcesses; i++) {
                
                //process number
                num = i + 1;

                //fetching current process and adding animation
                var process = document.getElementById("p" + num);
                process.style.animation = "moveToProcessor-sjf " + duration + "s linear forwards";
                if (i==0) {
                    process.style.animationDelay = delay + "s";
                } else {
                    nextDelay = delay + duration * i;
                    process.style.animationDelay = nextDelay + "s";
                }

                //Animating the processor
                var html = "<div id=\"processor" + num + "\" class=\"processor-sjf\"></div>";
                $("#anim").append(html);
                
                var processor = document.getElementById("processor"+num);

                var processorDelay = (duration * 0.5) + (duration * i);
                processor.style.animationDelay = processorDelay + "s";
                
                var count = Math.ceil(duration * 0.4);
                processor.style.animationIterationCount = count + "";
                processor.classList.add("animate__heartBeat");
            }
        }
    </script>    
</div>  