.process-sjf {
    border: 2px black solid;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    left: 10%;
    background-color: green;
    z-index: 2;
}

.process-sjf div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#primaryProcessor {
    z-index: 1;
    font-size: x-large;
    font-weight: bolder;
}

.processor-sjf {
    /* border: 4px black solid; */
    height: 200px;
    width: 200px;
    top: 28%;
    left: 65%;
    /* margin-right: 15%;
    float: right;*/
    background-color: orange;    
}

.processor-sjf, .process-sjf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.processor-sjf #tag, .processor-sjf #slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    
}

#processSlot {
    background-color: black;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#restartBtn, #newBtn {
    position: relative;
    top: 90%;
    left: 40%;
    width: 10%;
}

@keyframes moveToProcessor-sjf {

    10% {
        left: 72%;
        top: 55%;
    }
    20% {
        left: 72%;
        top: 55%;
    }
    30% {
        left: 72%;
        top: 55%;
    }
    40% {
        left: 72%;
        top: 55%;
    }
    50% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    60% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    70% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    80% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    90% {
        left: 72%;
        top: 55%;
        background-color: black;
        opacity: 1;
    }
    100% {
        left: 90%;
        top: 55%;
        background-color: black;
        opacity: 0;
    }
}