.process-sjf {
    border: 2px black solid;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    left: 10%;
    background-color: green;
    z-index: 2;
}

.process-sjf div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#primaryProcessor {
    z-index: 1;
    font-size: x-large;
    font-weight: bolder;
}

.processor-sjf {
    /* border: 4px black solid; */
    height: 200px;
    width: 200px;
    top: 28%;
    left: 65%;
    /* margin-right: 15%;
    float: right;*/
    background-color: orange;    
}

.processor-sjf, .process-sjf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.processor-sjf #tag, .processor-sjf #slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    
}

#processSlot {
    background-color: black;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#restartBtn {
    position: absolute;
    top: 90%;
    left: 40%;
    width: 10%;
}

#newBtn {
    position: absolute;
    top: 90%;
    left: 51%;
    width: 10%;
}

#detailsBtn {
    position: absolute;
    top: 90%;
    left: 88%;
    width: 10%;
}

#sjfQueue {
    position: absolute;
    background-color: gray;
    width: 10%;
    text-align: center;
    height: 93%;
    top: 3.5%;
    left: 8.5%;
}

#stateLegend {
    position: absolute;
    border: 2px solid black;
    border-radius: 5%;
    top: 2%;
    left: 85%;
    padding: 1%;
    width: 13%;
}

#stateLegend .legendItem {
    display: flex;
    align-items: center;
}

#colourReady, #colourRunning, #colourTerminated {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    margin-right: 2%;
}

#colourReady {
    background-color: green;
}

#colourRunning {
    background-color: red;
}

#colourTerminated {
    background-color: black;
}

#detailsTables {
    text-align: center;
}

@keyframes moveToProcessor-sjf {

    10% {
        left: 72%;
        top: 55%;
    }
    20% {
        left: 72%;
        top: 55%;
    }
    30% {
        left: 72%;
        top: 55%;
    }
    40% {
        left: 72%;
        top: 55%;
    }
    50% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    60% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    70% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    80% {
        left: 72%;
        top: 55%;
        background-color: red;
    }
    90% {
        left: 72%;
        top: 55%;
        background-color: black;
        opacity: 1;
    }
    100% {
        left: 90%;
        top: 55%;
        background-color: black;
        opacity: 0;
    }
}